/*Quiz Body */
body {
  background-image: url("../Pictures/ad.png"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

h1, h2 {
  text-align: center;
  color: rgb(103, 5, 5);
}

.container {
  border: 3px solid black;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  margin: 40px auto;
  width: 50%;
  padding: 40px;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  margin-bottom: 30px; 
}

button {
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  background-color: rgb(83, 78, 79);
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: rgb(100, 94, 96);
}

.hearts-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#hearts {
  display: flex;
  gap: 5px;
}

.chase-scene {
  position: relative;
  width: 100%;
  height: 150px;
  margin-top: 30px;
  overflow: hidden;
}

.chase-scene img {
  position: absolute;
  bottom: 0;
  height: 100px;
}
